.notification {
  width: 100vw;
  color: $white;
  text-align: center;
  position: absolute;
  z-index: 1;
  height: 64px;
  line-height: 64px;
  .notice {
    background-color: $light_blue;
  }
  .alert {
    background-color: $alert_orange;
  }
}